<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Free Call with Kotha!
      </h1>
      <h2 class="subtitle">
        create and share link
      </h2>
    </div>
  </div>
</section>
